:root {
  --contentPrimary: 0 0% 33%;
  --contentPrimary-rgb: 85 85 85;
  --contentSecondary: 0 0% 40%;
  --contentSecondary-rgb: 102 102 102;
  --contentTertiary: 0 0% 53%;
  --contentTertiary-rgb: 136 136 136;
  --contentPrimaryInverse: 0 0% 100%;
  --contentPrimaryInverse-rgb: 255 255 255;
  --contentSecondaryInverse: 0 0% 97%;
  --contentSecondaryInverse-rgb: 248 248 248;
  --contentTertiaryInverse: 0 0% 93%;
  --contentTertiaryInverse-rgb: 237 237 237;
  --contentDisabled: 0 0% 75%;
  --contentDisabled-rgb: 192 192 192;
  --contentBrand: 203 55% 42%;
  --contentBrand-rgb: 49 121 167;
  --contentNotice: 24 100% 45%;
  --contentNotice-rgb: 228 90 0;
  --contentNoticeContrast: 24 100% 19%;
  --contentNoticeContrast-rgb: 96 38 0;
  --negative: 360 58% 58%;
  --negative-rgb: 210 88 89;
  --negativeHover: 359 41% 46%;
  --negativeHover-rgb: 164 69 70;
  --positiveOnSecondary: 99 58% 29%;
  --positiveOnSecondary-rgb: 60 115 31;
  --positiveOnSecondaryHover: 100 58% 22%;
  --positiveOnSecondaryHover-rgb: 46 89 24;
  --backgroundPrimary: 0 0% 100%;
  --backgroundPrimary-rgb: 255 255 255;
  --backgroundSecondary: 0 0% 97%;
  --backgroundSecondary-rgb: 248 248 248;
  --backgroundTertiary: 0 0% 93%;
  --backgroundTertiary-rgb: 237 237 237;
  --backgroundSelected: 204 41% 82%;
  --backgroundSelected-rgb: 191 213 228;
  --backgroundDisabled: 0 0% 93%;
  --backgroundDisabled-rgb: 237 237 237;
  --backgroundBrand: 203 55% 42%;
  --backgroundBrand-rgb: 49 121 167;
  --backgroundInfo: 203 55% 42%;
  --backgroundInfo-rgb: 49 121 167;
  --backgroundInfoSubtle: 200 40% 94%;
  --backgroundInfoSubtle-rgb: 234 242 246;
  --backgroundNotice: 24 100% 45%;
  --backgroundNotice-rgb: 228 90 0;
  --backgroundNoticeSubtle: 25 79% 95%;
  --backgroundNoticeSubtle-rgb: 252 239 230;
  --backgroundNegative: 360 74% 64%;
  --backgroundNegative-rgb: 231 97 98;
  --backgroundNegativeSubtle: 0 78% 96%;
  --backgroundNegativeSubtle-rgb: 253 239 239;
  --backgroundPositive: 99 58% 40%;
  --backgroundPositive-rgb: 84 162 43;
  --borderPrimary: 0 0% 64%;
  --borderPrimary-rgb: 164 164 164;
  --borderSecondary: 0 0% 75%;
  --borderSecondary-rgb: 192 192 192;
  --borderTertiary: 0 0% 93%;
  --borderTertiary-rgb: 237 237 237;
  --borderDisabled: 0 0% 93%;
  --borderDisabled-rgb: 237 237 237;
  --borderBrand: 203 55% 42%;
  --borderBrand-rgb: 49 121 167;
  --borderInverse: 0 0% 100%;
  --borderInverse-rgb: 255 255 255;
  --borderInfo: 204 41% 82%;
  --borderInfo-rgb: 191 213 228;
  --borderNotice: 24 82% 83%;
  --borderNotice-rgb: 247 204 176;
  --borderNegative: 0 75% 89%;
  --borderNegative-rgb: 248 206 206;
  --borderPositive: 99 39% 81%;
  --borderPositive-rgb: 202 226 189;
  --surfaceL0Page: 0 0% 93%;
  --surfaceL0Page-rgb: 237 237 237;
  --surfaceL1: 0 0% 97%;
  --surfaceL1-rgb: 248 248 248;
  --surfaceL2: 0 0% 100%;
  --surfaceL2-rgb: 255 255 255;
  --overlay50: 0 0% 0%;
  --overlay50-rgb: 0 0 0;
  --overlay50Inverse: 0 0% 100%;
  --overlay50Inverse-rgb: 255 255 255;
  --contentInfo: 203 55% 42%;
  --contentInfo-rgb: 49 121 167;
  --contentInfoContrast: 203 54% 18%;
  --contentInfoContrast-rgb: 21 51 70;
  --negativePressed: 359 41% 35%;
  --negativePressed-rgb: 127 53 54;
  --positiveOnSecondaryPressed: 100 58% 17%;
  --positiveOnSecondaryPressed-rgb: 35 68 18;
  --positive: 99 58% 40%;
  --positive-rgb: 84 162 43;
  --backgroundPositiveSubtle: 100 40% 94%;
  --backgroundPositiveSubtle-rgb: 238 246 234;
  --brand: 203 55% 42%;
  --brand-rgb: 49 121 167;
  --brandSecondary: 204 55% 30%;
  --brandSecondary-rgb: 35 86 119;
  --brandSecondaryHover: 203 55% 23%;
  --brandSecondaryHover-rgb: 27 67 92;
  --brandSecondaryPressed: 203 54% 18%;
  --brandSecondaryPressed-rgb: 21 51 70;
  --buttonBrandPrimaryBackgroundDisabled: 0 0% 75%;
  --buttonBrandPrimaryBackgroundDisabled-rgb: 192 192 192;
  --buttonBrandTertiaryIconSpinner: 203 55% 42%;
  --buttonBrandTertiaryIconSpinner-rgb: 49 121 167;
  --buttonBrandTertiaryIconDisabled: 0 0% 75%;
  --buttonBrandTertiaryIconDisabled-rgb: 192 192 192;
  --buttonBrandTertiaryIconPressed: 203 54% 18%;
  --buttonBrandTertiaryIconPressed-rgb: 21 51 70;
  --buttonBrandTertiaryLabelDefault: 203 55% 42%;
  --buttonBrandTertiaryLabelDefault-rgb: 49 121 167;
  --buttonBrandTertiaryBackgroundPressed: 204 41% 82%;
  --buttonBrandTertiaryBackgroundPressed-rgb: 191 213 228;
  --buttonBrandTertiaryBackgroundHover: 200 40% 94%;
  --buttonBrandTertiaryBackgroundHover-rgb: 234 242 246;
  --buttonBrandSecondaryBackgroundDisabled: 0 0% 93%;
  --buttonBrandSecondaryBackgroundDisabled-rgb: 237 237 237;
  --buttonBrandTertiaryIconHover: 204 55% 30%;
  --buttonBrandTertiaryIconHover-rgb: 35 86 119;
  --buttonBrandSecondaryIconDisabled: 0 0% 75%;
  --buttonBrandSecondaryIconDisabled-rgb: 192 192 192;
  --buttonBrandTertiaryLabelHover: 204 55% 30%;
  --buttonBrandTertiaryLabelHover-rgb: 35 86 119;
  --buttonBrandPrimaryIconSpinner: 0 0% 100%;
  --buttonBrandPrimaryIconSpinner-rgb: 255 255 255;
  --buttonBrandPrimaryLabelLabel: 0 0% 100%;
  --buttonBrandPrimaryLabelLabel-rgb: 255 255 255;
  --buttonBrandSecondaryBackgroundPressed: 204 41% 74%;
  --buttonBrandSecondaryBackgroundPressed-rgb: 160 193 215;
  --buttonBrandPrimaryBackgroundPressed: 204 55% 30%;
  --buttonBrandPrimaryBackgroundPressed-rgb: 35 86 119;
  --buttonBrandSecondaryIconDefault: 203 55% 42%;
  --buttonBrandSecondaryIconDefault-rgb: 49 121 167;
  --buttonBrandTertiaryIconDefault: 203 55% 42%;
  --buttonBrandTertiaryIconDefault-rgb: 49 121 167;
  --buttonBrandSecondaryBackgroundHover: 204 41% 82%;
  --buttonBrandSecondaryBackgroundHover-rgb: 191 213 228;
  --buttonBrandSecondaryBackgroundDefault: 200 40% 94%;
  --buttonBrandSecondaryBackgroundDefault-rgb: 234 242 246;
  --buttonBrandPrimaryIconIcon: 0 0% 100%;
  --buttonBrandPrimaryIconIcon-rgb: 255 255 255;
  --buttonBrandPrimaryBackgroundHover: 204 54% 39%;
  --buttonBrandPrimaryBackgroundHover-rgb: 45 110 152;
  --buttonBrandTertiaryLabelDisabled: 0 0% 75%;
  --buttonBrandTertiaryLabelDisabled-rgb: 192 192 192;
  --buttonBrandTertiaryLabelPressed: 203 54% 18%;
  --buttonBrandTertiaryLabelPressed-rgb: 21 51 70;
  --buttonBrandPrimaryBackgroundDefault: 203 55% 42%;
  --buttonBrandPrimaryBackgroundDefault-rgb: 49 121 167;
  --buttonBrandSecondaryLabelPressed: 203 55% 23%;
  --buttonBrandSecondaryLabelPressed-rgb: 27 67 92;
  --buttonBrandSecondaryLabelDisabled: 0 0% 75%;
  --buttonBrandSecondaryLabelDisabled-rgb: 192 192 192;
  --buttonBrandSecondaryLabelHover: 204 54% 39%;
  --buttonBrandSecondaryLabelHover-rgb: 45 110 152;
  --buttonBrandSecondaryLabelDefault: 203 55% 42%;
  --buttonBrandSecondaryLabelDefault-rgb: 49 121 167;
  --buttonBrandSecondaryIconSpinner: 203 55% 42%;
  --buttonBrandSecondaryIconSpinner-rgb: 49 121 167;
  --buttonBrandSecondaryIconPressed: 203 55% 23%;
  --buttonBrandSecondaryIconPressed-rgb: 27 67 92;
  --buttonBrandSecondaryIconHover: 204 54% 39%;
  --buttonBrandSecondaryIconHover-rgb: 45 110 152;
  --buttonDestructivePrimaryBackgroundDefault: 360 74% 64%;
  --buttonDestructivePrimaryBackgroundDefault-rgb: 231 97 98;
  --buttonDestructivePrimaryBackgroundHover: 360 58% 58%;
  --buttonDestructivePrimaryBackgroundHover-rgb: 210 88 89;
  --buttonDestructivePrimaryBackgroundPressed: 359 41% 46%;
  --buttonDestructivePrimaryBackgroundPressed-rgb: 164 69 70;
  --buttonDestructivePrimaryBackgroundDisabled: 0 0% 75%;
  --buttonDestructivePrimaryBackgroundDisabled-rgb: 192 192 192;
  --buttonDestructivePrimaryLabelLabel: 0 0% 100%;
  --buttonDestructivePrimaryLabelLabel-rgb: 255 255 255;
  --buttonDestructivePrimaryIconIcon: 0 0% 100%;
  --buttonDestructivePrimaryIconIcon-rgb: 255 255 255;
  --buttonDestructivePrimaryIconSpinner: 0 0% 100%;
  --buttonDestructivePrimaryIconSpinner-rgb: 255 255 255;
  --buttonDestructiveSecondaryBackgroundDefault: 0 78% 96%;
  --buttonDestructiveSecondaryBackgroundDefault-rgb: 253 239 239;
  --buttonDestructiveSecondaryBackgroundHover: 0 75% 89%;
  --buttonDestructiveSecondaryBackgroundHover-rgb: 248 206 206;
  --buttonDestructiveSecondaryBackgroundPressed: 359 74% 84%;
  --buttonDestructiveSecondaryBackgroundPressed-rgb: 244 182 183;
  --buttonDestructiveSecondaryBackgroundDisabled: 0 0% 93%;
  --buttonDestructiveSecondaryBackgroundDisabled-rgb: 237 237 237;
  --buttonDestructiveSecondaryLabelPressed: 359 41% 46%;
  --buttonDestructiveSecondaryLabelPressed-rgb: 164 69 70;
  --buttonDestructiveSecondaryLabelHover: 360 58% 58%;
  --buttonDestructiveSecondaryLabelHover-rgb: 210 88 89;
  --buttonDestructiveSecondaryLabelDisabled: 0 0% 75%;
  --buttonDestructiveSecondaryLabelDisabled-rgb: 192 192 192;
  --buttonDestructiveSecondaryLabelDefault: 360 74% 64%;
  --buttonDestructiveSecondaryLabelDefault-rgb: 231 97 98;
  --buttonDestructiveSecondaryIconPressed: 359 41% 46%;
  --buttonDestructiveSecondaryIconPressed-rgb: 164 69 70;
  --buttonDestructiveSecondaryIconHover: 360 58% 58%;
  --buttonDestructiveSecondaryIconHover-rgb: 210 88 89;
  --buttonDestructiveSecondaryIconDisabled: 0 0% 75%;
  --buttonDestructiveSecondaryIconDisabled-rgb: 192 192 192;
  --buttonDestructiveSecondaryIconDefault: 360 74% 64%;
  --buttonDestructiveSecondaryIconDefault-rgb: 231 97 98;
  --buttonDestructiveSecondaryIconSpinner: 360 74% 64%;
  --buttonDestructiveSecondaryIconSpinner-rgb: 231 97 98;
  --buttonPositivePrimaryBackgroundDefault: 99 58% 40%;
  --buttonPositivePrimaryBackgroundDefault-rgb: 84 162 43;
  --buttonPositivePrimaryBackgroundHover: 99 58% 36%;
  --buttonPositivePrimaryBackgroundHover-rgb: 76 147 39;
  --buttonPositivePrimaryBackgroundPressed: 99 58% 29%;
  --buttonPositivePrimaryBackgroundPressed-rgb: 60 115 31;
  --buttonPositivePrimaryBackgroundDisabled: 0 0% 75%;
  --buttonPositivePrimaryBackgroundDisabled-rgb: 192 192 192;
  --buttonPositivePrimaryLabelLabel: 0 0% 100%;
  --buttonPositivePrimaryLabelLabel-rgb: 255 255 255;
  --buttonPositivePrimaryIconIcon: 0 0% 100%;
  --buttonPositivePrimaryIconIcon-rgb: 255 255 255;
  --buttonPositivePrimaryIconSpinner: 0 0% 100%;
  --buttonPositivePrimaryIconSpinner-rgb: 255 255 255;
  --buttonPositiveSecondaryBackgroundDefault: 100 40% 94%;
  --buttonPositiveSecondaryBackgroundDefault-rgb: 238 246 234;
  --buttonPositiveSecondaryBackgroundHover: 99 39% 81%;
  --buttonPositiveSecondaryBackgroundHover-rgb: 202 226 189;
  --buttonPositiveSecondaryBackgroundPressed: 99 39% 72%;
  --buttonPositiveSecondaryBackgroundPressed-rgb: 176 212 157;
  --buttonPositiveSecondaryBackgroundDisabled: 0 0% 93%;
  --buttonPositiveSecondaryBackgroundDisabled-rgb: 237 237 237;
  --buttonPositiveSecondaryLabelDefault: 99 58% 29%;
  --buttonPositiveSecondaryLabelDefault-rgb: 60 115 31;
  --buttonPositiveSecondaryLabelHover: 100 58% 22%;
  --buttonPositiveSecondaryLabelHover-rgb: 46 89 24;
  --buttonPositiveSecondaryLabelPressed: 100 58% 17%;
  --buttonPositiveSecondaryLabelPressed-rgb: 35 68 18;
  --buttonPositiveSecondaryLabelDisabled: 0 0% 75%;
  --buttonPositiveSecondaryLabelDisabled-rgb: 192 192 192;
  --buttonPositiveSecondaryIconPressed: 100 58% 17%;
  --buttonPositiveSecondaryIconPressed-rgb: 35 68 18;
  --buttonPositiveSecondaryIconHover: 100 58% 22%;
  --buttonPositiveSecondaryIconHover-rgb: 46 89 24;
  --buttonPositiveSecondaryIconDisabled: 0 0% 75%;
  --buttonPositiveSecondaryIconDisabled-rgb: 192 192 192;
  --buttonPositiveSecondaryIconDefault: 99 58% 29%;
  --buttonPositiveSecondaryIconDefault-rgb: 60 115 31;
  --buttonPositiveSecondaryIconSpinner: 99 58% 29%;
  --buttonPositiveSecondaryIconSpinner-rgb: 60 115 31;
  --buttonDestructiveTertiaryBackgroundHover: 0 78% 96%;
  --buttonDestructiveTertiaryBackgroundHover-rgb: 253 239 239;
  --buttonDestructiveTertiaryBackgroundPressed: 0 75% 89%;
  --buttonDestructiveTertiaryBackgroundPressed-rgb: 248 206 206;
  --buttonDestructiveTertiaryLabelDefault: 360 74% 64%;
  --buttonDestructiveTertiaryLabelDefault-rgb: 231 97 98;
  --buttonDestructiveTertiaryLabelHover: 360 58% 58%;
  --buttonDestructiveTertiaryLabelHover-rgb: 210 88 89;
  --buttonDestructiveTertiaryLabelPressed: 359 41% 46%;
  --buttonDestructiveTertiaryLabelPressed-rgb: 164 69 70;
  --buttonDestructiveTertiaryLabelDisabled: 0 0% 75%;
  --buttonDestructiveTertiaryLabelDisabled-rgb: 192 192 192;
  --buttonDestructiveTertiaryIconDefault: 360 74% 64%;
  --buttonDestructiveTertiaryIconDefault-rgb: 231 97 98;
  --buttonDestructiveTertiaryIconHover: 360 58% 58%;
  --buttonDestructiveTertiaryIconHover-rgb: 210 88 89;
  --buttonDestructiveTertiaryIconPressed: 359 41% 46%;
  --buttonDestructiveTertiaryIconPressed-rgb: 164 69 70;
  --buttonDestructiveTertiaryIconDisabled: 0 0% 75%;
  --buttonDestructiveTertiaryIconDisabled-rgb: 192 192 192;
  --buttonDestructiveTertiaryIconSpinner: 360 74% 64%;
  --buttonDestructiveTertiaryIconSpinner-rgb: 231 97 98;
  --buttonPositiveTertiaryBackgroundHover: 100 40% 94%;
  --buttonPositiveTertiaryBackgroundHover-rgb: 238 246 234;
  --buttonPositiveTertiaryBackgroundPressed: 99 39% 81%;
  --buttonPositiveTertiaryBackgroundPressed-rgb: 202 226 189;
  --buttonPositiveTertiaryLabelDefault: 99 58% 40%;
  --buttonPositiveTertiaryLabelDefault-rgb: 84 162 43;
  --buttonPositiveTertiaryLabelHover: 99 58% 36%;
  --buttonPositiveTertiaryLabelHover-rgb: 76 147 39;
  --buttonPositiveTertiaryLabelPressed: 99 58% 29%;
  --buttonPositiveTertiaryLabelPressed-rgb: 60 115 31;
  --buttonPositiveTertiaryLabelDisabled: 0 0% 75%;
  --buttonPositiveTertiaryLabelDisabled-rgb: 192 192 192;
  --buttonPositiveTertiaryIconDefault: 99 58% 40%;
  --buttonPositiveTertiaryIconDefault-rgb: 84 162 43;
  --buttonPositiveTertiaryIconHover: 99 58% 36%;
  --buttonPositiveTertiaryIconHover-rgb: 76 147 39;
  --buttonPositiveTertiaryIconPressed: 99 58% 29%;
  --buttonPositiveTertiaryIconPressed-rgb: 60 115 31;
  --buttonPositiveTertiaryIconDisabled: 0 0% 75%;
  --buttonPositiveTertiaryIconDisabled-rgb: 192 192 192;
  --buttonPositiveTertiaryIconSpinner: 99 58% 40%;
  --buttonPositiveTertiaryIconSpinner-rgb: 84 162 43;
  --backgroundWarning: 52 85% 38%;
  --backgroundWarning-rgb: 178 155 14;
  --backgroundWarningSubtle: 53 50% 94%;
  --backgroundWarningSubtle-rgb: 247 245 231;
  --borderWarning: 52 52% 81%;
  --borderWarning-rgb: 231 224 180;
  --contentPositive: 99 58% 40%;
  --contentPositive-rgb: 84 162 43;
  --contentPositiveContrast: 100 58% 17%;
  --contentPositiveContrast-rgb: 35 68 18;
  --contentNegative: 360 74% 64%;
  --contentNegative-rgb: 231 97 98;
  --contentNegativeContrast: 0 41% 27%;
  --contentNegativeContrast-rgb: 97 41 41;
  --contentWarning: 52 85% 38%;
  --contentWarning-rgb: 178 155 14;
  --contentWarningContrast: 51 85% 16%;
  --contentWarningContrast-rgb: 75 65 6;
  --buttonBrandPrimaryBackgroundInverse: 0 0% 100%;
  --buttonBrandPrimaryBackgroundInverse-rgb: 255 255 255;
  --buttonBrandPrimaryLabelInverse: 203 55% 42%;
  --buttonBrandPrimaryLabelInverse-rgb: 49 121 167;
  --buttonBrandPrimaryIconIconInverse: 203 55% 42%;
  --buttonBrandPrimaryIconIconInverse-rgb: 49 121 167;
  --buttonDestructivePrimaryBackgroundInverse: 0 0% 100%;
  --buttonDestructivePrimaryBackgroundInverse-rgb: 255 255 255;
  --buttonDestructivePrimaryLabelInverse: 360 74% 64%;
  --buttonDestructivePrimaryLabelInverse-rgb: 231 97 98;
  --buttonDestructivePrimaryIconIconInverse: 360 74% 64%;
  --buttonDestructivePrimaryIconIconInverse-rgb: 231 97 98;
  --buttonDestructivePrimaryIconSpinnerInverse: 360 74% 64%;
  --buttonDestructivePrimaryIconSpinnerInverse-rgb: 231 97 98;
  --buttonPositivePrimaryBackgroundInverse: 0 0% 100%;
  --buttonPositivePrimaryBackgroundInverse-rgb: 255 255 255;
  --buttonPositivePrimaryLabelInverse: 99 58% 40%;
  --buttonPositivePrimaryLabelInverse-rgb: 84 162 43;
  --buttonPositivePrimaryIconIconInverse: 99 58% 40%;
  --buttonPositivePrimaryIconIconInverse-rgb: 84 162 43;
  --buttonPositivePrimaryIconSpinnerInverse: 99 58% 40%;
  --buttonPositivePrimaryIconSpinnerInverse-rgb: 84 162 43;
  --buttonBrandPrimaryBackgroundInverseHover: 0 0% 97%;
  --buttonBrandPrimaryBackgroundInverseHover-rgb: 248 248 248;
  --buttonBrandPrimaryBackgroundInversePressed: 0 0% 93%;
  --buttonBrandPrimaryBackgroundInversePressed-rgb: 237 237 237;
  --buttonDestructivePrimaryBackgroundInverseHover: 0 0% 97%;
  --buttonDestructivePrimaryBackgroundInverseHover-rgb: 248 248 248;
  --buttonDestructivePrimaryBackgroundInversePressed: 0 0% 93%;
  --buttonDestructivePrimaryBackgroundInversePressed-rgb: 237 237 237;
  --buttonPositivePrimaryBackgroundInverseHover: 0 0% 97%;
  --buttonPositivePrimaryBackgroundInverseHover-rgb: 248 248 248;
  --buttonPositivePrimaryBackgroundInversePressed: 0 0% 93%;
  --buttonPositivePrimaryBackgroundInversePressed-rgb: 237 237 237;
  --buttonBrandPrimaryIconSpinnerInverse: 203 55% 42%;
  --buttonBrandPrimaryIconSpinnerInverse-rgb: 49 121 167;
  --borderNegativeBold: 359 41% 46%;
  --borderNegativeBold-rgb: 164 69 70;
  --borderPositiveBold: 99 58% 29%;
  --borderPositiveBold-rgb: 60 115 31;
  --borderWarningBold: 52 85% 27%;
  --borderWarningBold-rgb: 126 110 10;
  --borderNoticeBold: 24 100% 32%;
  --borderNoticeBold-rgb: 162 64 0;
  --contentNegativeBold: 359 41% 46%;
  --contentNegativeBold-rgb: 164 69 70;
  --contentWarningBold: 52 85% 27%;
  --contentWarningBold-rgb: 126 110 10;
  --contentNoticeBold: 24 100% 32%;
  --contentNoticeBold-rgb: 162 64 0;
  --contentPositiveBold: 99 58% 29%;
  --contentPositiveBold-rgb: 60 115 31;
}
